<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Spam SMS Detector</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='spam-favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
    </head>

<body>
    <!-- Website Title -->
    <div class="container">
        <h2 class='container-heading'><span>Spam Detector</span> for Short Message Service (SMS)</h2>
    </div>

    <h1 style="text-align: center;">{{ error_msg }}</h1>
    
    <!-- Footer -->
    <div class='footer' style="margin-top: 320px; ">
        <p>Group Members :</p>
        <p class='footer-description'>Mayuresh R. Dindorkar&nbsp;: BECOC320</p>
        <p class='footer-description'>Piyush R. Chaudhari &nbsp;&nbsp;&nbsp;&nbsp;: BECOC311</p>
        <p class='footer-description'>Shalakha V. Bang      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: BECOC305</p>
        <p class='footer-description'>Rohit B. Bangar       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: BECOC306</p>
    </div>
</body>
</html>